
*{
    margin: 0;
    padding: 0;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center ;

}

@media only screen and (max-width: 768px){
    .left, .right{
        float: none;
        width: 100%;
    }
}



    

.name2{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 500px;
    height: 500x;
    border-radius: 10px;
    background: linear-gradient(#12c2e9, #c471ed, #f64f59);
}

.container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid#fff;
    margin: 20px auto;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    
}

.container img.active{
    width: 350px;
    height: 450px;
    border-radius: 10px;
    border: 5px solid#fff;
    margin: 20px auto;
    position: relative;

}
.container h2{
    color: #fff;

}
ul{
    list-style:none
}
li{
    color: khaki;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.infor{
    display: block;
    text-align:center;
    margin-right: .5em;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
 
  
  
}
.age{
    width: 165px;
}
.adr{
    width: 200px;
}
.button-container{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 12px;
}

.button-container button{
    height: 35px;
    width: 120px;
    border: none;
    margin-right:12 px;
    border-radius:5px ;
    columns: #333;
    cursor: pointer;
   background-color: #641ac0;
   box-shadow: 0 0 8px rgba(0, 0, 0,.4);
}

.icon-social{
    position: absolute;
    display: flex;
    flex-direction: column;
}
.icon-social:hover{
    color:orange;
   
    
    
}
.icon-social i{
    
    float: right;
    color: rgb(20, 58, 211);
    padding: 12px;
    margin:5px  0 0 12px;
    background:#fff ;
    border-radius: 50%;
}





